<nav class="navbar-fluid navbar-default navbar-fixed-top">
				<div class="container">
					<a class="navbar-brand" href="/"><img src ="images/pennyworth_logo.jpg" width="110px" height="30px"></a>
					<p class="navbar-text"><a href="#">Discover</a></p>
					<p class="navbar-text"><a href="/service">Services</a></p>

					<p class="navbar-right navbar-text" ng-hide="authenticated"><a href="/login">Login</a></p>
					<p class="navbar-right navbar-text" ng-hide="authenticated"><a href="/signup">Register</a></p>
					

					<p class="navbar-right navbar-text" ng-show="authenticated"><a href="#" ng-click="signout()">Logout</a></p>
					<p class="navbar-right navbar-text" ng-show="authenticated"><a href="/profile">Profile</a></p>
					<p class="navbar-right navbar-text" ng-show="authenticated">Signed in as {{}}</p>
				</div>
		</nav>