<!DOCTYPE html>
<html lang="en">
  <head>

    <!--
    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
  -->
  <!--[if lt IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
      document.createElement('ui-select');
      document.createElement('ui-select-match');
      document.createElement('ui-select-choices');
    </script>
  <![endif]-->

    <meta charset="UTF-8"/>
    <title>Pennyworth</title>
    <!-- google map api [this has to be loaded prior to ui.map]-->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFz5rNYFfhn2F7ffjhJuppahFQmPczp0I">
    </script>

    <!-- angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>

    <!-- js libraries for form -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/jquery.leanModal.min.js"></script>
    <!-- jQuery plugin leanModal under MIT License http://leanmodal.finelysliced.com.au/ -->
    <!-- pennyworth js -->
    <script type="text/javascript" src="js/pennyworth.js"></script>
    <!-- form js -->
    <script type="text/javascript" src="js/form.js"></script>
    <!-- bootstrap js -->
    <script src="stylesheets/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <!-- star rating js -->
    <link rel="stylesheet"  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/star-rating.min.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/star-rating.min.js" type="text/javascript"></script>
    <!-- slidezilla js -->
    <script src="js/angular-slidezilla.js"></script>
    <!-- sliderzilla css -->
    <link href="stylesheets/angular-slidezilla.css" rel="stylesheet" type="text/css" />
    <!-- slider controller TO BE MOVED LATER (controller moved to selector controller)-->
    <!-- <script src="js/slider-controller.js" type="text/javascript"></script>-->
    <!-- for selector UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-sanitize.min.js"></script>
    <!-- for selector css -->
    <link rel="stylesheet"  href="stylesheets/select.min.css" type="text/css">
    <!-- for selector js -->
    <script src="js/select.min.js"></script>
    <!-- Select2 theme -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <!-- font for header image in math tutor -->
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

    <!-- GOOGLE MAP api for ui-->
    <script src='js/lodash.min.js'></script>
    <script src='js/angular-google-maps.min.js'></script>

    <!-- internal css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/service.css">
    <!-- form css -->
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/login.css">
    <!-- star rating css -->
    <link href="stylesheets/star-rating.min.css" rel="stylesheet" type="text/css" />
    <!-- grid layout css -->
    <link href="stylesheets/block-grid.css" rel="stylesheet" type="text/css" />

    <script src="js/service.js"></script>
    <script src="js/controller/gmap.js"></script>
    <script src="js/controller/slider.js"></script>
    <script src="js/controller/selector.js"></script>

    <script>
    jQuery(document).ready(function () {     
        $('.rating-input').rating({
              min: 0,
              max: 5,
              step: 1,
              size: 'xs',
              showClear: false,
              readonly: true,
        });   
    });
</script>
  </head>
  <body ng-app="service">
      <!--****navbar***-->
      <nav class="navbar-fluid navbar-default navbar-fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><img src ="images/pennyworth_logo.jpg" width="110px" height="30px"></a>
          <p class="navbar-text"><a href="#">Discover</a></p>
          <p class="navbar-text"><a href="#">Services</a></p>

          <p class="navbar-right navbar-text" ng-hide="authenticated"><a href="#loginModal" id="loginTrigger">Login</a> or <a href="#signUpModel" id="signUpTrigger">Register</a></p>
          <p class="navbar-right navbar-text" ng-show="authenticated"><a href="#" ng-click="signout()">Logout</a></p>
          <p class="navbar-right navbar-text" ng-show="authenticated">Signed in as {{current_user}}</p>
        </div>
      </nav>

      <div class="jumbotron">
        <div class="container">
          <h1 id="service-title">Math Tutors</h1>
        </div>
      </div>

      <div class="content">
        <div class="row" id="main-content">
          <div class="col-md-7 providers-container">
            <div id="providers-option-container">
              <div class="row" id="option-service" ng-controller="selectorCtrl">
                <div class="select-box">
                  <div class="col-md-2">
                    <p class="bold">Service</p>
                  </div>
                  <div class="col-md-4">
                    <p>{{person.selected.name}}</p>
                  </div>
                  <div class="col-md-6">
                    <ui-select ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px;" title="Choose a person" append-to-body="true">
                      <ui-select-match placeholder="Select a Service you require">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                        <!-- <small>
                          email: {{person.email}}
                          age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                        </small> -->
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
              <hr>
              <div ng-controller="sliderCtrl">
                <div id="option-distance" class="row">  
                  <div class="col-md-2">
                    <p class="bold">Distance</p>
                  </div>
                  <div class="col-md-4">
                    <p>{{slider1.val}} Kilometers</p>
                  </div>
                  <div class="col-md-6">
                    <slider ng-model="slider1.val" min="1" max="100" step="1"></slider>
                  </div>
                </div>
                <hr>
                <div id="option-price" class="row">
                    <div class="col-md-2">
                      <p class="bold">Price Range</p>
                    </div>
                    <div class="col-md-4">
                      <p>${{slider2.val[0]}} to ${{slider2.val[1]}}</p>
                    </div>
                  <div class="col-md-6">
                    <slider ng-model="slider2.val"></slider>
                  </div>
                </div>
              </div>
            </div>
            <div class="block-grid-lg-3 block-grid-md-3 block-grid-sm-2">
              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              <div class="provider block-grid-item">
                <img src="images/emma.jpg" alt="Emma Watson is so pretty" class="img-circle provider-img">
                  <div class="caption">
                    <h3 class="provider-name">Emma Watson</h3>
                    <p class="provider-dsc">Hi, I love to teach young kids and help them explore their passion in Math</p>
                    <input class="rating-input" type="number" value="4" data-show-caption="false" />
                  </div>
              </div> 

              
            </div>       
          </div>
          <div id="map-column" class="col-md-5" ng-controller="mapCtrl">
             <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
          </div>

        </div>
        <hr>
        <footer class="row">
          <div class="col-md-12">
             <p>&copy; Wu-Tan 2015</p>
          </div>
        </footer>
      </div>
  </body>
</html>