<html>
	<head>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<script src ='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>

		<style>
		/*temporarily including style inside html file*/


		</style>
	</head>
	<body>
		<nav class="navbar navbar-default">
		<div class = "container">
			<ul class="nav navbar-nav">
				<li><a href="#"><img src ="img/logo_peng.png"></a></li>
				<li><a href="#">hi</a></li>
				<li><a href="#">hi</a></li>
				<li><a href="#">hi</a></li>
				<li><a href="#">hi</a></li>
				<li><a href="#">hi</a></li>
			</ul>
		</div>
		</nav>


	</body>



</html>