<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gardeners</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link href="../bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="service.css">
    <link rel="stylesheet" type="text/css" href="slider/css/slider.css">
   </head>
  <body>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pennyworth</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Log In</a></li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 id="service-title">GARDENERS in your community</h1>
        </div>
      </div>

      <div class="container">
        <div class="row" id="main-content">
          <div class="col-md-7">
            <h2 class="col-md-1 col-md-offset-1">GARDENERS</h2>
          </div>
          <div id="map" class="col-md-5">

          </div>
        </div>




        <hr>
        <footer>
        <p>&copy; Wu-Tan 2015</p>
        </footer>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <!--bootstrap slider-->
    <script src="slider/js/bootstrap-slider.js"></script>
  </body>
</html>